.cPadding{
    margin: 40px;
}

.cLabel{
    font-size: large;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.cInput{
    width: 35%;
    height: 40px;
    margin-left: 20px;
    font-size: large;
    border-radius: 15px;
    border: none;
}

.cButton{
    width: 15%;
    height: 40px;
    font-size: large;
    margin-left: 20px;
    border-radius: 15px;
    border: none;
}