.container3{
    width: 30%;
    float: left;
    height: 100vw;
    background-color: #FCBA04;
    text-align: center;
    padding-top: 18%;
}
.container4{
    width: 70%;
    display: inline-block;
    height: 100vw;
    background-color: #590004;
    text-align: center;
    padding-top: 15%;
}

.h1take2{
    color: #250001;
}

.usernameInput{
    width: 62%;
}

.emailInput{
    width: 30%;
}

.passwordInput{
    width: 30%;
    margin-left: 2%;
}
