* {
    box-sizing: border-box;
    font-family: Calibri, 'Trebuchet MS', sans-serif
}

body {
    background-color: rgb(20, 20, 20);
    color: white;
}

form {
    margin-top: 1vmax;
    border-bottom: 2px solid rgb(20, 20, 20);
    padding-bottom: 15%;
}

div.infoDisplay {
    width: 90vmax;
    left: 10vmax;
    top: 4vmax;
    position: absolute;
}

div.sideBar {
    width: 10vmax;
    height: 100vmax;
    position: fixed;
    left: 0px;
    top: 0px;
    padding: 10px;
    background-color: black;
}

div.topBar {
    height: 4vmax;
    width: 90vmax;
    position: fixed;
    left: 10vmax;
    top: 0px;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 55%, rgba(20,20,20,1) 100%);
}

table {
    width: 100%;
}

table#artistHeaders {
    position: absolute;
    top: 0px;
    display: none;
    height: 3vmax;
}

table#trackHeaders {
    position: absolute;
    top: 0px;
    height: 3vmax;
}

table#genreHeaders {
    position: absolute;
    top: 0px;
    display: none;
    height: 3vmax;
}

.genreID {
    width: 5%;
}

.genreName {
    width: 15%;
    text-align: left;
}

.genreParent {
    width: 5%;
    text-align: left;
}

td {
    text-align: center;
    overflow-wrap: anywhere;
}


form select {
    width: 95%;
}

.trackID {
    width: 4%;
}

.trackTitle {
    width:14%;
    text-align: left;
}

.albumID {
    width: 4%;
}

.albumName {
    width: 14%;
    text-align: left;
}

.artistID {
    width: 4%;
}

.artistName {
    width: 14%;
    text-align: left;
}

.trackTags {
    width: 10%;
    text-align: left;
}

.trackDateCreated {
    width: 5%;
}

.trackDateRecorded {
    width: 5%;
}

.trackDuration {
    width: 4%;
}

.trackGenres {
    width: 10%;
    text-align: left;
}

.trackNum {
    width: 2%;
}

.artistLocation {
    width: 18%;
    text-align: left;
}

.artistFavorites {
    width: 4%;
}

.artistDateCreated {
    width: 7%;
}

.artistWebsite {
    width: 27%;
    text-align: left;
}

.artistAssociatedLabels {
    width: 27%;
    text-align: left;
}